*logfile
*.gz
.DS_Store
**/.DS_Store
*.DS_Store
src/.DS_Store
**/ .DS_Store
HELP.md
target/
# === Compilación y Salida ===
!.mvn/wrapper/maven-wrapper.jar

# === Excepciones (No ignorar código fuente) ===
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# === REGLA ESPECÍFICA SFTP ===
# Ignoramos el contenido de la carpeta SFTP aunque esté dentro de src/main
src/main/resources/public_file/*
# Opcional: permite subir la carpeta vacía si usas un .gitkeep
!src/main/resources/public_file/.gitkeep
